<div class="author">
    <h1 class="author__heading">Hi, I am Abhishek.</h1>
    <p class="author__body">Web developer and content creator.</p>
  </div>
  
  <img src="/img/hero-image.webp" alt="person looking out through window" class="hero-image" width="981" height="528">
  
  <section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
  
    <ul class="article-ul">
      <% if (data && data.length > 0) { %>
        <% data.forEach(post => { %>
            <li>
                <a href="/post/<%= post._id %>">
                    <h3><%= post.title %></h3>
                    <p><%= post.body.substring(0, 100) %>...</p>
                    <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
                </a>
            </li>
        <% }) %>
    <% } else { %>
        <li>No posts found.</li>
    <% } %>
    </ul>
  
    <a href="#" class="pagination">&lt; View Older Posts</a>
  
  
    
  
  
  
  </section>